hit! You have hit a ship, still some left!
<br>
<% misses = ""
   session[:player].misses.each { |miss| misses += "#{miss} " } %>
Your misses are: <%= misses %>
<br>
<%= erb :board %>
<br>
<form action='/fire' method='post'>
  <input type='text' name='to_fire_at'>
  <input type='submit' value='fire again!'>
</form>