<h1 style="color: red">Welcome to Battleships You Are Player <%= @player_num %>, Please place your ships!</h1>
Welcome
<br>
<form action='/placed' method='post'>
  <input type='text' name='place_ship_1'>
  <br>
  <input type='text' name='place_ship_2'>
  <br>
  <input type='text' name='place_ship_3'>
  <br>
  <input type='submit' value='place'>
</form>
