<h1 style="color: red">Welcome to Battleships, Please place your ships!</h1>
<br>
<form action='/placed' method='post'>
  <input type='text' name='place_ship_1'>
  <input type='text' name='place_ship_2'>
  <input type='text' name='place_ship_3'>
  <input type='submit' value='place'>
</form>
