<style> td { align:center; } </style>
Sorry dude, you've missed!
<% miss_array = session[:player].misses %>
<br>
<% table = "<table><tr><td>  </td><td> 1 </td><td> 2 </td><td> 3 </td><td> 4 </td><td> 5 </td><td> 6 </td><td> 7 </td><td> 8 </td><td> 9 </td><td> 10 </td></tr>"
  ("A".."J").each do |row|
    table << "<tr><td> #{row} </td>"
    (1..10).each do |col|
      if miss_array.include?(row + col.to_s)
        sym = "o"
      else
        sym = "~"
      end
      table << "<td> #{sym} </td>"
    end
    table << "</tr>\n"
  end
  table << "</table>" %>
<%= table %>
<br>
<% misses = ""
   miss_array.each { |miss| misses += "#{miss} " } %>
Your misses are: <%= misses %>
<br>
<form action='/fire' method='post'>
  <input type='text' name='to_fire_at'>
  <input type='submit' value='fire again!'>
</form>